<nav class="bottom-nav" id="bottomNavigation">
  <div class="nav-bg-wrapper">
    <div class="nav-indicator"></div>
  </div>
  
  <a href="home.html" class="bottom-nav-item" data-page="home">
    <div class="icon-wrapper">
      <i class="ph ph-house"></i>
    </div>
  </a>
  <a href="level.html" class="bottom-nav-item" data-page="level">
    <div class="icon-wrapper">
      <i class="ph ph-star"></i>
    </div>
  </a>
  <a href="stickers.html" class="bottom-nav-item" data-page="sticker">
    <div class="icon-wrapper">
      <i class="ph ph-sticker"></i>
    </div>
  </a>
  <a href="profile.html" class="bottom-nav-item" data-page="profile">
    <div class="icon-wrapper">
      <i class="ph ph-user"></i>
    </div>
  </a>
</nav>

<!-- Run initialization script -->
<script src="../../js/components/navbar.js"></script>
